@using Ext.Net.MVC;
@using Ext.Net;
@using iDAS.Web.ExtExtend;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@(Html.X().Menu()
        .ID("cmMenu")
        .Width(150)
        .Items(
            new MenuItem
                {
                    Text = "Thêm mới",
                    ID = "cmAdd",
                    Icon = Icon.Add,
                    Handler = "addRecord(App.GrDocSecurity);"
                },
            new MenuItem
                {
                    Text = "Xóa",
                    ID = "cmDelete",
                    Icon = Icon.Delete,
                    Disabled = true,
                    Handler = "deleteRecord();"
                }
        )
)
@(Html.X().Viewport()
        .Layout(LayoutType.Fit)
        .Items(
            Html.X().GridPanel()
                .Listeners(ls => ls.BeforeItemContextMenu.Fn = "itemcontextmenu")
                .ID("GrDocSecurity")
                .Height(400)
                .Border(false)
                .TopBar(
                    Html.X().Toolbar()
                        .Items(
                            Html.X().ButtonCreate()
                                .Handler("addRecord(this.up('grid'));"),
                            Html.X().ToolbarSeparator(),
                            Html.X().ButtonDelete()
                                .ID("btnDelete")
                                .Handler("deleteRecord();"),
                            Html.X().ToolbarSeparator(),
                            Html.X().ButtonView()
                                .ID("btnDetail")
                                .Handler("viewRecord();"),
                                        Html.X().ToolbarFill(),
                                 Html.X().ButtonTutorial()
                        )
                )
                .Store(
                    Html.X().Store()
                        .ID("stSecurityLevel")
                        .Proxy(
                                Html.X().AjaxProxy()
                                    .Url(Url.Action("LoadData"))
                                    .Reader(Html.X().JsonReader().Root("data"))
                        )
                        .RemoteSort(false)
                        .RemotePaging(true)
                        .PageSize(20)
                        .Model(
                            Html.X().Model().IDProperty("ID")
                                .Fields(
                                    Html.X().ModelField().Name("ID").Type(ModelFieldType.Int),
                                    Html.X().ModelField().Name("Name").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("Color").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("IsActive").Type(ModelFieldType.Boolean),
                                    Html.X().ModelField().Name("Note").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("CreateAt").Type(ModelFieldType.Date),
                                    Html.X().ModelField().Name("CreateName").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("UpdateAt").Type(ModelFieldType.Date),
                                    Html.X().ModelField().Name("UpdateName").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("UpdateByTime").Type(ModelFieldType.Date),
                                    Html.X().ModelField().Name("UpdateByName").Type(ModelFieldType.String)
                                )
                        )

                )
                .ColumnModel(
                    Html.X().RowNumbererColumn()
                        .Text("STT")
                        .Width(33)
                        .Align(Alignment.Center),
                    Html.X().Column()
                        .Text("Mức độ bảo mật")
                        .DataIndex("Name")
                        .Width(150)
                        .Wrap(true)
                        .Editor(
                            Html.X().TextField()
                                .MaxLength(100)
                                .AllowBlank(false).AllowOnlyWhitespace(false)
                                .BlankText("Mức độ bảo mật không được để trống")
                                .MaxLength(50).MaxLengthText("Số lượng kí tự tối đa của ô này là 50!")
                        ),
            Html.X().Column()
                    .Text("Màu sắc")
                    .DataIndex("Color")
                    .Renderer(new Renderer { Fn = "function(value, meta, record) { meta.style = 'background-color:' + record.get('Color') + ';'; return value; }" })
                    .Align(Alignment.Center)
                    .Width(100)
                    .Editor(
                        Html.X().ComboBox()
                            .ID("cbColor")
                            .TabIndex(3)
                            .QueryMode(DataLoadMode.Local)
                            .ForceSelection(true)
                            .TriggerAction(TriggerAction.All)
                            .DisplayField("Name")
                            .ValueField("Id")
                            .Store(
                                Html.X().Store()
                                    .AutoLoad(true)
                                    .Model(
                                        Html.X().Model()
                                            .IDProperty("Id")
                                            .Fields(
                                                new ModelField("Id", ModelFieldType.String) { Mapping = "Id" },
                                                new ModelField("Name", ModelFieldType.String) { Mapping = "Name" }
                                            )
                                    )
                                    .Proxy(
                                        Html.X().AjaxProxy()
                                            .Url(Url.Action("FillColor"))
                                            .Reader(Html.X().JsonReader().Root("data")
                                            )
                                    )
                            )
                            .Tpl(
                            @<text>
                                <tpl for=".">
                                    <div class="x-boundlist-item" style="display: inline-block; width: 100%;">
                                        <div style="width: 20px; height: 20px; float: left; background-color: {Id}; border: #cecece 1px solid;">&nbsp;</div><div style="width: auto; float: left; font-size: 0.9em;">&nbsp;{Name}</div>
                                    </div>
                                </tpl>
                            </text>)
                            ),
                    Html.X().Column()
                        .Text("Mô tả")
                        .DataIndex("Note")
                        .Flex(1)
                        .Wrap(true)
                        .Editor(
                            Html.X().TextField()
                                .TabIndex(4)
                                .MaxLength(300)
                        ),
                    Html.X().Column()
                        .Text("Tình trạng")
                        .DataIndex("IsActive")
                        .Align(Alignment.Center)
                        .Width(100)
                        .Renderer("UseRenderer")
                        .Editor(
                            Html.X().ComboBox()
                                .TabIndex(5)
                                .Items(
                                    new ListItem("Sử dụng", true),
                                    new ListItem("Không sử dụng", false)
                                )
                        ),
                    Html.X().CommandColumn()
                        .ID("commandCol")
                        .Text("Chức năng")
                        .Width(70)
                        .Commands(
                            Html.X().GridCommand()
                                .CommandName("save")
                                .Icon(Icon.Disk)
                                .ToolTip(tt => tt.Text = "Lưu"),
                            Html.X().GridCommand()
                                .CommandName("reject")
                                .Icon(Icon.ArrowUndo)
                                .ToolTip(tt => tt.Text = "Hủy")
                        )
                        .Listeners(ls => ls.Command.Handler = "handlecmd(command,this.up('grid'),record );")
                )
                .SelectionModel(
               Html.X().RowSelectionModel()
                       .Mode(SelectionMode.Single).Listeners(l=> l.SelectionChange.Handler="checkStatus();")
                )
                .Plugins(Html.X().CellEditing() )
                .BottomBar(Html.X().CustomPagingToolbar())
        )
)
<script type="text/javascript">
    var itemcontextmenu = function (grid, record, item, index, e, eOpts) {
        e.stopEvent();
        App.cmMenu.showAt(e.getXY());
    };
    var UseRenderer = function (value, p, record) {
        var sUse = "Sử dụng";
        var sNot = "<font style='color:red'>Không sử dụng</font>";
        if (value == "1") {
            return sUse;
        } else {
            return sNot;
        }
    };
    var checkStatus = function () {
        var records = App.GrDocSecurity.selModel.getSelection();
        if (records.length > 0) {
            App.btnDetail.setDisabled(false);
            if (records[0].get('IsActive') == false) {
                SetEnabled(App.cmDelete, App.btnDelete);
            } else {
                SetDisabled(App.cmDelete, App.btnDelete);
            }
        }
        else {
            SetDisabled(App.cmDelete, App.btnDelete, App.btnDetail);
        }
    };
    function addRecord(grid) {
        grid.store.insert(0, { Name: '', IsActive: true });
        grid.editingPlugin.startEditByPosition({ row: 0, column: 0 });
    }
    function viewRecord() {
        var records = App.GrDocSecurity.selModel.getSelection();
        if (records.length > 0) {
            var id = records[0].get('ID');
            Ext.net.DirectMethod.request({
                url: '@(Url.Action("ShowFrm", "SecurityLevel", new { Area = "Profile" }, null))', params: { id: id }
            });
        }
    };
    var deleteRecord = function () {
        var records = App.GrDocSecurity.selModel.getSelection();
        switch (records.length) {
            case 0:
                MessageBox();
                break;
            default:

                Ext.MessageBox.show({
                    title: 'Xác nhận',
                    msg: 'Bạn có chắc chắn muốn xóa Bản ghi đã chọn không?',
                    buttons: { yes: 'Đồng ý', no: 'Không' },
                    iconCls: '#Information',
                    fn: function (btn) {
                        if (btn == 'yes') {
                            var strId = records[0].get('ID');
                            Ext.net.DirectMethod.request({
                                url: '@(Url.Action("Delete", "SecurityLevel", new { Area = "Profile" }, null))', params: { id: strId },
                                success: function (result) {
                                    if (result == 'Error') {
                                        Ext.MessageBox.show({
                                            title: 'Cảnh báo', msg: 'Quá trình thực hiện xóa Dữ liệu phát sinh lỗi do Dữ liệu này có thể đã được sử dụng. Đề nghị kiểm tra lại!',
                                            buttons: { yes: 'Đồng ý' },
                                            iconCls: '#Cancel',
                                            fn: function (btn) {
                                                records[0].reject();
                                                return false;
                                            }
                                        });
                                    }
                                }
                            });
                        }
                    }
                });
                break;
        }
    };
    var handlecmd = function (cmd, grid, record) {
        if (cmd == 'save') {
            var id = record.get('ID'), name = record.get('Name'), des = record.get('Note'), isused = record.get('IsActive'), color = record.get('Color');
            if (name == '') {
                Ext.MessageBox.show({
                    title: 'Cảnh báo', msg: 'Mức độ bảo mật không được để trống!',
                    buttons: { yes: 'Đồng ý' },
                    iconCls: '#Cancel',
                    fn: function (btn) {
                        return false;
                    }
                });
                return;
            }
            if (id != null && id > 0 && name != '') {
                Ext.net.DirectMethod.request({
                    url: '@(Url.Action("Update", "SecurityLevel", new { Area = "Profile" }, null))',
                    params: { data: record.data },
                    success: function (result) {
                        if (result == 'Error') {
                            Ext.MessageBox.show({
                                title: 'Lỗi', msg: 'Mức độ bảo mật có tên là: ' + name + ' đã tồn tại',
                                buttons: { yes: 'Đồng ý' },
                                iconCls: '#Cancel',
                                fn: function (btn) {
                                    record.reject();
                                    return false;
                                }
                            });
                        }
                    }
                });
            }
            else {
                Ext.net.DirectMethod.request({
                    url: '@(Url.Action("Insert", "SecurityLevel", new { Area = "Profile" }, null))',
                    params: { data: record.data },
                    success: function (result) {
                        if (result == 'ErrorExisted') {
                            Ext.MessageBox.show({
                                title: 'Lỗi', msg: 'Mức độ bảo mật có tên là: ' + name + ' đã tồn tại',
                                buttons: { yes: 'Đồng ý' },
                                iconCls: '#Cancel',
                                fn: function (btn) {
                                    record.reject();
                                    return false;
                                }
                            });
                        }
                    }
                });
            }
        }
        if (cmd == 'reject') {
            record.reject();
        }
    };
</script>              