<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>iDAS - Doanh nghiệp </title>
    <link href="~/Images/iDAS.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/css/style.css" rel="stylesheet" /> 
    <script src="~/Scripts/SystemScript/SystemScript.js"></script>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script>
        urlEmployeeDetail = '@(Url.Action("DetailForm", "Employee", new { Area = "Human" }))';
        urlLoadImageFile = '@(Url.Action("LoadImage", "File", new { Area = "Generic" }))';
        var showAccessDenied = function () {
            var url = "/Account/AccessDenied";
            return onDirectMethod(url);
        };
    </script>
    <style>
        .x-datepicker-disabled a.x-datepicker-date {
            cursor: default;
            background-color: #808080;
            color: #fff;
        }
    </style>
    @RenderSection("headtag", required: false)
</head>
<body>
    @Html.X().ResourceManager()
    @RenderBody()
</body>
</html>