@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Web.ExtExtend;
@{
    var X = Html.X();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@X.Hidden().ID("hdfGroupCustomerID").Value(0)
@(Html.X().Viewport().Layout(LayoutType.Border).Border(false).Margin(0).Frame(false).StyleSpec("border: none;")
    .Items(
        X.Panel()
            .Title("NHÓM KHÁCH HÀNG").TitleAlign(TitleAlign.Center)
            .Header(false)
            .Collapsible(true)
            .Region(Region.West).Width(300)
            .MarginSpec("-1 0 -1 -1")
            .Split(true)
            .Layout(LayoutType.Fit)
            .ItemsFromAction("List", "GroupCustomer", new { Area = "Customer" }),
        X.Panel()
        .Header(false)
        .Region(Region.Center)
        .Layout(LayoutType.Fit)
        .MarginSpec("-1 -1 -1 0")
        .Items(
           Html.X().GridPanel()
                    .Header(false)
                    .ID("GrCustomer")
                    .ColumnLines(true)
                    .ForceFit(true)
                    .Border(false)
                    .TopBar(
                        Html.X().Toolbar()
                        .Layout(LayoutType.HBox)
                        .Items(
                            Html.X().ButtonCreate().ID("btnInsert").Handler("ShowInsertCustomer();").Disabled(true),
                            Html.X().ToolbarSeparator(),
                            Html.X().ButtonUpdate().ID("btnUpdate").Handler("ShowUpdateCustomer();"),
                            Html.X().ToolbarSeparator(),
                            Html.X().ButtonDelete().ID("btnDeleteCustomer").Handler("onDelete(App.GrCustomer.selModel.getSelection()[0].get('ID'));"),
                            Html.X().ToolbarSeparator(),
                            Html.X().ButtonView().ID("btnDetail").Handler("ShowViewCustomer();"),
                            Html.X().ToolbarSeparator(),
                            Html.X().Button().Text("Khảo sát").ID("btnSurvey").Icon(Icon.ApplicationSideList).Handler("ShowSurvey();").Disabled(true),
                            Html.X().ToolbarSeparator(),
                            Html.X().Button().Icon(Icon.Phone).ID("btnContact").Text("Liên hệ").Disabled(true)
                                    .Menu(Html.X().Menu().ShowSeparator(false).Items(
                                            Html.X().MenuItem().Icon(Icon.Phone).Text("Liên hệ").Handler("ShowContactHistory();"),
                                            Html.X().MenuSeparator(),
                                            Html.X().MenuItem().Text("Lịch hẹn").Icon(Icon.Calendar).Handler("ShowAppoinment();"),
                                            Html.X().MenuSeparator(),
                                            Html.X().MenuItem().Text("Phản hồi").Icon(Icon.Email).Handler("ShowFeedBack();")
                                    )),
                            Html.X().ToolbarSeparator(),
                            Html.X().Button().Icon(Icon.PageWhiteStack).Text("Hợp đồng").ID("btnSetContract").Disabled(true)
                                    .Menu(Html.X().Menu().ShowSeparator(false).Items(
                                            Html.X().MenuItem().Text("Đơn hàng").ID("btnSetOrder").Icon(Icon.PageWhiteText).Handler("ShowOrder();"),
                                            Html.X().MenuSeparator(),
                                            Html.X().MenuItem().Text("Hợp đồng").Icon(Icon.PageWhiteStack).Handler("ShowContract();"),
                                            Html.X().MenuSeparator(),
                                            Html.X().MenuItem().Text("Không ký hợp đồng").Icon(Icon.PageWhiteDelete).Handler("NotContract();")
                                        )),
                            Html.X().ToolbarSeparator(),
                            Html.X().Button().Text("Lý lịch khách hàng").Icon(Icon.User).ID("btnProfile").Handler("ShowProfile();").Disabled(true),
                            Html.X().ToolbarSeparator(),
                            Html.X().Button().Icon(Icon.ArrowEw).Text("Chuyển").ID("btnTransfer").Disabled(true)
                                    .Menu(Html.X().Menu().ShowSeparator(false).Items(
                                                Html.X().MenuItem().Text("Tiếp cận lại").ToolTip("Chuyển sang khách hàng tiếp cận").Icon(Icon.ArrowLeft).Handler("NormalTransfer();"),
                                                Html.X().MenuSeparator(),
                                                Html.X().MenuItem().Text("Sang KH thực tế").ToolTip("Chuyển sang khách hàng thực tế").Icon(Icon.ArrowRight).Handler("OfficialTransfer();") 
                                    )),
                            Html.X().ToolbarFill(),
                            Html.X().ButtonTutorial()
                        )
                )
                .Store(
                    Html.X().Store()
                        .ID("StoreCustomer")
                        .RemotePaging(true)
                        .PageSize(20)
                        .AutoLoad(false)
                        .Proxy(Html.X().AjaxProxy().Url(Url.Action("LoadData", "CustomerPotential", new { Area = "Customer" }))
                        .Reader(Html.X().JsonReader().Root("data")).IDParam("ID"))
                        .Parameters(ps =>
                            {
                                ps.Add(new StoreParameter("groupCustomerID", "App.hdfGroupCustomerID.getValue()", ParameterMode.Raw));
                            })
                        .Model(
                                    Html.X().Model().Fields(
                                        Html.X().ModelField().Name("ID"),
                                        Html.X().ModelField().Name("AttachmentFileID"),
                                        Html.X().ModelField().Name("FileName"),
                                        Html.X().ModelField().Name("Name"),
                                        Html.X().ModelField().Name("Email"),
                                        Html.X().ModelField().Name("Phone"),
                                        Html.X().ModelField().Name("Scope"),
                                        Html.X().ModelField().Name("IsBackContact"),
                                        Html.X().ModelField().Name("IsNotContract"),
                                        Html.X().ModelField().Name("LastContact"),
                                        Html.X().ModelField().Name("Address")
                                    )
                              )
                        )
                        .ColumnModel(
                                     X.RowNumbererColumn().Text("STT").Width(40).Align(Alignment.Center),
                                            X.TemplateColumn().DataIndex("AttachmentFileID").Width(30).TdCls("AvatarColumn").Tpl(
                                                X.XTemplate().Html(@<text>
                                                <img src="@Url.Action("LoadImage", "File", new { area = "Generic"})?fileId={AttachmentFileID}&fileName={FileName}"
                                                     style='width:30px;height:40px;' />
                                                </text>)
                                            ).Locked(true).Filterable(false),
                                            X.Column().DataIndex("Name").Text("Khách hàng").Width(250).Locked(true),
                                            X.Column().DataIndex("Scope").Text("Lĩnh vực").Width(120),
                                            X.Column().DataIndex("Phone").Text("Số điện thoại").Width(100).Align(Alignment.Right),
                                            X.Column().DataIndex("Email").Text("Email").Width(150),
                                            X.Column().DataIndex("Address").Text("Địa chỉ").Wrap(true).MinWidth(200).Flex(1),
                                            X.DateColumnExtend().DataIndex("LastContact").Text("Liên hệ gần nhất").Width(120).Align(Alignment.Center).Filterable(true),
                                            X.BooleanColumn().DataIndex("IsBackContact").Text("Lịch hẹn").Width(80).Align(Alignment.Center).Filterable(false)
                                                .TrueText("<a class='a-grid-cell' onclick ='ShowAppoinment()'>Lịch hẹn</a>").FalseText(""),
                                            X.BooleanColumn().DataIndex("IsNotContract").Text("Hợp đồng").Width(80).Align(Alignment.Center)
                                            .TrueText("<a style='color: red;'>Không ký</a>").FalseText("").Filterable(false)   
                            )
                            .Features(
                                Html.X().GridFilters()
                                    .MenuFilterText("Tìm kiếm")
                                    .Filters(
                                        Html.X().StringFilter().DataIndex("Name"),
                                        Html.X().BooleanFilter().DataIndex("IsBackContact").YesText("Có lịch").NoText("Không có")
                                    )
                            )
                            .Plugins(
                                    X.FilterHeader().Remote(true)
                                )
                            .SelectionModel(Html.X().CheckboxSelectionModel().ShowHeaderCheckbox(false).Mode(SelectionMode.Multi)
                                        .Listeners(ls => ls.SelectionChange.Handler = "CheckStatus();"))
                            .BottomBar(Html.X().CustomPagingToolbar())
                            )
    )
)
<script>
    var deleteUrl = '@(Url.Action("Delete"))';
    function OnSelectChangeGroupCustomer(records, value) {
        if (value) {
            App.hdfGroupCustomerID.setValue(records[0].get('id'));
            App.StoreCustomer.reload({ params: { groupCustomerID: records[0].get('id') } });
            App.btnInsert.setDisabled(false);
        }
        else {
            App.btnInsert.setDisabled(true);
        };
    };
    function CheckStatus() {
        var records = App.GrCustomer.selModel.getSelection();
        if (records.length == 1) {
            SetEnabled(App.btnUpdate, App.btnDeleteCustomer, App.btnDetail, App.btnSurvey, App.btnSetContract, App.btnContact, App.btnProfile, App.btnTransfer);
        }
        else {
            SetDisabled(App.btnUpdate, App.btnDeleteCustomer, App.btnDetail, App.btnSurvey, App.btnSetContract, App.btnContact, App.btnProfile, App.btnTransfer);
        }

    };
    var ShowInsertCustomer = function () {
        var groupID = "";
        var groupName = "";
        if (App.treeCustomerCateID.selModel.getSelection().length > 0) {
            groupID = App.treeCustomerCateID.selModel.getSelection()[0].get('id');
            groupName = App.treeCustomerCateID.selModel.getSelection()[0].get('text');
        };
        var url = '@(Url.Action("Insert", "CustomerPotential", new { Area = "Customer" }, null))';
        var params = {
            groupCustomerID: groupID,
            groupName: groupName,
            IsPotential: true
        };
        onDirectMethod(url, params, 'get');
    };
    var ShowUpdateCustomer = function () {
        var records = App.GrCustomer.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("Update", "CustomerPotential", new { Area = "Customer" }, null))';
            var params = {
                id: records[0].get('ID')
            };
            onDirectMethod(url, params, 'get');
        }
        else {
            MessageBox();
        };
    };
    var ShowViewCustomer = function () {
        var records = App.GrCustomer.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("DetailForm", "CustomerPotential", new { Area = "Customer" }, null))';
            var params = {
                id: records[0].get('ID')
            };
            onDirectMethod(url, params);
        }
        else {
            MessageBox();
        };
    };
    var ShowSurvey = function () {
        var records = App.GrCustomer.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("Survey"))';
            var params = {
                id: records[0].get('ID'),
                GroupID: records[0].get('CategoryID')
            };
            onDirectMethod(url, params);
        }
        else {
            MessageBox();
        };
    };
    var ShowContactHistory = function () {
        var records = App.GrCustomer.selModel.getSelection();
        if (records.length == 1) {
            var url = '@(Url.Action("Contact"))';
            var params = {
                id: records[0].get('ID'),
            };
            onDirectMethod(url, params);
        }
        else {
            MessageBox();
        };
    };
    var ShowAppoinment = function () {
        var records = App.GrCustomer.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("Appoinment"))';
            var params = {
                id: records[0].get('ID'),
                name: records[0].get('Name')
            };
            var window = new Ext.Window({
                title: "Lịch hẹn", width: 600, height: 450,
                maximized: true,
                loader: {
                    url: url,
                    params: params,
                    renderer: 'frame',
                    loadMask: {
                        showMask: true,
                        msg: 'Đang tải Dữ liệu ...'
                    }
                }
            });
            window.show();
        }
        else {
            MessageBox();
        };
    };
    var ShowFeedBack = function () {
        var records = App.GrCustomer.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("Feedback"))';
            var params = {
                id: records[0].get('ID')
            };
            onDirectMethod(url, params);
        }
        else {
            MessageBox();
        };
    };
    var ShowOrder = function () {
        var records = App.GrCustomer.selModel.getSelection();
        if (records.length > 0) {
            Ext.net.DirectMethod.request({
                url: '@(Url.Action("Order"))',
                params: {
                    id: records[0].get('ID')
                }
            });
        }
        else {
            MessageBox();
        };
    };
    var ShowContract = function () {
        var records = App.GrCustomer.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("Contract"))';
            var params = {
                id: records[0].get('ID')
            };
            onDirectMethod(url, params);
        }
        else {
            MessageBox();
        };
    };
    var NotContract = function () {
        var records = App.GrCustomer.selModel.getSelection();
        if (records.length > 0) {
            var url = '@(Url.Action("NotContract"))';
            var params = {
                id: records[0].get('ID')
            };
            onDirectMethod(url, params,'get');
        }
        else {
            MessageBox();
        };
    };
    var ShowProfile = function () {
        var records = App.GrCustomer.selModel.getSelection();
        if (records.length == 1) {
            var url = '@(Url.Action("Profile"))';
            var params = {
                id: records[0].get('ID'),
            };
            onDirectMethod(url, params);
        }
        else {
            MessageBox();
        };
    };
    var NormalTransfer = function () {
        var records = App.GrCustomer.selModel.getSelection();
        if (records.length == 1) {
            Ext.MessageBox.confirm('Thông báo', "Bạn có muốn chuyển khách hàng này sang tiếp cận", function (btn) {
                if (btn == 'yes') {
                    var url = '@(Url.Action("NormalTransfer"))';
                    var params = {
                        id: records[0].get('ID'),
                    };
                    onDirectMethod(url, params);
                }
            });
        }
        else {
            MessageBox();
        };
    };
    var OfficialTransfer = function () {
        var records = App.GrCustomer.selModel.getSelection();
        if (records.length == 1) {
            Ext.MessageBox.confirm('Thông báo', "Bạn có chắc chắn chuyển khách hàng này sang khách hàng thực tế", function (btn) {
                if (btn == 'yes') {
                    var url = '@(Url.Action("OfficialTransfer"))';
                    var params = {
                        id: records[0].get('ID'),
                    };
                    onDirectMethod(url, params);
                }
            });
        }
        else {
            MessageBox();
        };
    };
</script>